    <!-- Map Section -->
    <div id="map" class="container content-section text-center">
    <h3>Contributors</h3>
    <ul style="color: white;">
        <li>
            <strong>Getting Started Guide:</strong> Provides developers with a comprehensive introduction to essential algorithm concepts and foundational programming tutorials, enabling quick and effective onboarding.
        </li>
        <li>
            <strong>Practice Challenges:</strong> Offers real-world coding challenges designed to reinforce understanding and application of learned concepts.
        <li>
            <strong>Case Studies:</strong> Provides in-depth analyses of classic algorithm applications to enhance practical skills and deepen comprehension.
        </li>
        <li>
            <strong>Community Forum:</strong> Fosters an active community environment where developers can ask questions, share experiences, and assist one another through structured discussions and support via GitHub Issues.
    </ul>
    </div>
