<section id="map" class="container content-section text-center">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">
                <h2>Main Modules</h2>
                <div style="text-align: left;">
                <ul style="color: white;color: white; font-size: 18px">
        <li>
            <span style="font-weight: bold;">Getting Started Guide:</span> Provides developers with a comprehensive introduction to essential algorithm concepts and foundational programming tutorials, enabling quick and effective onboarding.
        </li>
        <li>
            <span style="font-weight: bold;">Practice Challenges:</span>  Offers real-world coding challenges designed to reinforce understanding and application of learned concepts.
        </li>
        <li>
            <span style="font-weight: bold;">Case Studies:</span>  Provides in-depth analyses of classic algorithm applications to enhance practical skills and deepen comprehension.
        <li>
            <span style="font-weight: bold;">Community Forum:</span>  Fosters an active community environment where developers can ask questions, share experiences, and assist one another through structured discussions and support via GitHub Issues.
    </ul>
                    </div>
            </div>
        </div>
    </section>
